@font-face {
    font-family: "Shag Lounge";
    src: url("shag.otf");
}

.background {
    position: fixed;
    inset: 0;
    background-image: url("stripes.png");
    background-repeat: repeat;
    background-size: auto auto;
    opacity: 0.3;
    z-index: -1;
}

body {
    background-color: black;
    color: white;
    font-family: "Shag Lounge", sans-serif;
    font-size: 25px;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}

.container {
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: cornflowerblue;
}

a:hover,
a:active {
    color: #9cbbf4;
}

.logo {
    animation: float 3s ease-in-out infinite;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 550px;
    position: relative;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}